ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: lightgrey;
	margin-bottom: 25px;
	padding-left: 5%;
}
ul.nav li{
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 10px;

}
ul.nav li:hover{
	background-color: grey;
	cursor: pointer;
}
